.LoggedIn {
    height: 100%;
    margin-bottom: 12vh;
    margin-top: -1vh;
}

.LoggedOut{
    height: 100%;
    margin-bottom: 12vh;
}

@media (max-width: 375px)
{
    .LoggedOut{
        margin-top: 0vh;
        font-size: 10.5px;
    }
    .LoggedIn{
        margin-top: 1vh;
        font-size: 10.5px;
    }
}
@media (min-width: 375px)
{
    .LoggedOut{
        margin-top: 0vh;
        font-size: 13px;
    }
    .LoggedIn{
        margin-top: 1vh;
        font-size: 13px;
    }
}