.App-footer {
    text-align: center;
    background-color: #222;
    height: 12vh;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

@media (max-height: 749px) {
    .ODC_Logo {
        display: none;
    }
}

@media (min-height: 750px) {
    .ODC_Logo {
        height: 19%;
        margin-top: 2vh;
    }
}

@media (max-height: 375px) {
    .geartracker{
        font-size: 17px;
        color: white;
        margin-top: 0.5vh;
        /*padding-bottom: 3vh;*/
    }
}

@media (min-height: 376px) {
    .geartracker{
        font-size: 22px;
        color: white;
        margin-top: 0.5vh;
    }
}

@media (min-height: 750px) {
    .geartracker{
        font-size: 27px;
        color: white;
        margin-top: 2vh;
    }
}

a, a:active, a:visited, a:focus {
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}